<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/index.css" />
    <script src="/js/app.js"></script>
</head>

<body>
    <h1>About Me</h1>
    <h2>Nayan Shrivastava</h2>
    <a href="https://www.linkedin.com/in/nayan-shrivastava-b85a091ab/">LinkedIn</a>
</body>

</html>